$color-primary: rgb(41, 41, 41);
$color-sec: rgb(243, 243, 243);
$color-white: #ffffff96;
$color-dark: rgb(53, 49, 49);
$color-gray: gray;
$color-mid-gray: rgb(193, 193, 193);
$color-light-gray: rgb(226, 225, 225);
$color-red: rgb(126, 25, 25);
$color-green: #2eb629;
$color-blue: #0c2d48;

$color-table-col: rgba(204, 222, 228, 0.9);

//layout variables
$sidebar-width: 5rem;
$head-width: 4rem;
$layout-padding: 3rem;

$table-header: 2.3rem;
$table-footer: 2.3rem;
$checkbox-w: 2.5rem;

//gaps
$general-gap: 1.2rem;
$ul-margin: calc($head-width + $layout-padding + $general-gap - 0.75rem);

//radius
$large-radius: 1rem;
$small-radius: 0.3rem;
