.balance-sheet {
  &-body {
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: 4rem 1fr 6rem;
  }

  &-head {
    grid-column: span 2;
  }
  & .table {
    grid-template-rows: 2rem repeat(12, 1fr);
  }
  &-bank {
    background-color: rgb(212, 212, 212);
  }
  &-footer {
    background-color: black;
    grid-column: span 2;
  }
}
