@use "../abstract/mixins";
@use "../abstract/variables";

$small-padding: 0.2rem;

.invoice {
  &-container {
    background-color: rgb(86, 86, 60);
    height: 100vh;
    width: 100%;
    overflow-y: scroll;

    &-input {
      width: 15rem;
      padding: $small-padding;
      color: variables.$color-gray;
      font-size: 0.9rem;
      display: none;
      &:focus {
        outline: 0.5px solid variables.$color-gray;
        border-radius: variables.$small-radius;
      }
    }

    & .input-head {
      font-weight: 600;
      color: variables.$color-dark;
    }

    & label {
      margin-right: 1rem;
      font-size: 0.9rem;
      @include mixins.flex(center);
      justify-content: start;
      width: 8rem;
    }
  }

  &-body {
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  &-form {
    background-color: variables.$color-white;

    &-content-box {
      width: 70vw;

      max-width: 210mm;
      min-height: 297mm;
      margin: 10rem auto;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-head {
      height: 5rem;
      width: 100%;
      padding: 0 $small-padding;
      @include mixins.flex(between);

      & h3 {
        font-size: 2rem;
        font-weight: 600;
      }
    }

    &-from {
      height: fit-content;
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      justify-content: space-between;
    }

    &-to-container {
      display: flex;
      justify-content: space-between;
    }

    &-to-input-container {
      display: flex;
      margin-bottom: 0.5rem;
    }

    &-to {
      height: 10rem;
      background-color: red;
    }

    &-place {
      height: 2.5rem;
      background-color: gray;
    }

    &-table {
      width: 100%;
      &-head {
        height: 2rem;
        background-color: variables.$color-primary;
        border-radius: variables.$large-radius;
        display: flex;
        width: 100%;
        overflow: hidden;
        & input {
          color: rgb(233, 228, 228);
        }
      }

      &-itemContainer {
        display: flex;
        flex-direction: column;
        height: fit-content;
      }

      &-item-box {
        flex: 1;
        height: 2rem;

        & input {
          height: 100%;
          width: 100%;
          background-color: transparent;
          padding: 0 1rem;

          &:focus {
            background-color: variables.$color-white;
            color: variables.$color-dark;
          }
        }
      }
    }

    &-footer {
      height: 8rem;
      background-color: orangered;
    }
  }
}
