@use "../abstract/mixins";
@use "../abstract/variables";

$small-padding: 0.2rem;



.invoice {
  &-container {
    width: 900.66px;
    margin: 45px;
    padding: 40px 33px 0px 35px;
    box-sizing: border-box;
    background-color: #f3f4f6;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #bfc8de;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start; 
    font-family: Arial, Helvetica, sans-serif, Nunito
  }

  &-upload-logo-section{
      width: 50%;
      display: contents;

  }

  &-add-logo{
    padding: 20px 20px 15px;
    border: 1px dashed #dbe8fd;
    display: block;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
    width: 20%;
    color: #5b9aff;
    cursor: pointer;
    text-align: center;
    background: #4d556f92;
    width: 129.24px;
    height: 88.2px;
    
  }
  
  &-add-logo-label{
    margin: 0;
    padding: 0;
  }

}