@use "../abstract/mixins";

.ledger {
  & .layout-footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;

    &-left {
      background-color: aquamarine;
      //   @include mixins.flex(center);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    &-right {
      background-color: rgb(23, 69, 54);
    }
  }
}
