.ledger {
  & .table {
    overflow-y: scroll;
  }
  & .layout-footer {
    align-items: start;
    &-left {
      flex: 1;
      margin-right: 2rem;
    }
  }

  & .bottom {
    flex: 1;
    width: auto;
  }
}
.ledger-particular {
  width: 100%;
  grid-row: span 9 !important;
  // height: 38rem; // Set a fixed height
  overflow: hidden; // Prevent overall container from expanding

  & .table-col {
    height: 5rem;
  }

  &-item-container {
    height: 100%; // Fill the entire parent container
    overflow-y: auto; // Enable vertical scrolling within this container

    // Optional: Scrollbar styling
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }
  }
}
