@use "../abstract/variables";
@use "../abstract/mixins";
.btn {
  background-color: transparent;
  border: none;
  border-radius: variables.$small-radius;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-wrap: nowrap;
}
.primary {
  background-color: variables.$color-primary;
  color: variables.$color-white;
  width: 8rem;
}
.secondary {
  background-color: variables.$color-gray;
  color: variables.$color-white;
}
.thertiary {
  background-color: variables.$color-white;
  color: variables.$color-gray;
  border: 0.3px solid variables.$color-gray;
}
.filterbtn {
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: variables.$color-primary;
  color: variables.$color-white;
  width: 2.5rem;
  height: 2.5rem;
  @include mixins.flex(center);
}
.arrow {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: x-large;
  border-radius: 5px;
}
.arrowsmall {
  width: 35px;
  height: 30px;
  font-size: 12px;
}

.arrowlarge {
  width: 40px;
  height: 40px;
  font-size: 24px;
}
