@use "../abstract/variables";

.pagination {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;

  .button {
    border: 1px solid variables.$color-gray;
    border-radius: 7px;
    padding: 0.7rem;
    background-color: variables.$color-white;
    cursor: pointer;
    letter-spacing: 0.5px;
    border-color: variables.$color-primary;
    font-weight: 720;
    color: variables.$color-primary;
    border-width: 1px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: variables.$color-mid-gray;
    }

    &.disabled,
    &:disabled {
      background-color: variables.$color-light-gray;
      color: variables.$color-white;
      cursor: not-allowed;
      border-color: variables.$color-light-gray;
    }

    .next-icon-span {
    }
    .prev-icon-span {
    }
    .icons {
      font-size: 1.7rem;
    }
  }

  .page-numbers {
    display: flex;
    // background-color: $pagination-bg;
    border-radius: 7px;
    color: variables.$color-dark;
    height: 2.5rem;
    gap: 7px;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 3rem;
      height: 100%;
      border: 1px solid variables.$color-primary;
      border-radius: 7px;
    }

    .current {
      background-color: variables.$color-primary;
      color: variables.$color-white;
      width: 4rem;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
