@use "../abstract/variables";
@use "../abstract/mixins";

.table {
  @include mixins.fillArea;
  display: grid;
  grid-template-rows: 1rem 1.2fr repeat(7, 1fr);
  border-radius: variables.$large-radius;
  overflow: hidden;
  width: 100%;

  // Style for even children
  & > div:nth-child(even) {
    background-color: rgb(204, 222, 228);
  }

  // Style for odd children
  & > div:nth-child(odd) {
    background-color: variables.$color-white; // Color for odd items
  }

  &-head {
    border-radius: variables.$large-radius;
    background-color: variables.$color-primary !important;
    margin-bottom: -1rem;
    z-index: 2;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100%;
    @include mixins.flex(center);
    padding-left: 1rem;
    padding-right: 2rem;
  }
  //colum items like particular in the body and the head
  &-col {
    padding-right: 2rem;
    padding-left: 1rem;
    flex: 1;
    color: variables.$color-white;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    transition: all 0.5s ease;
    line-height: 1.2;
  }

  &-body-col {
    color: variables.$color-dark;
    transition: all 0.5s ease;
    min-height: 100%;
    word-wrap: break-word; // Enable word wrapping
    word-break: break-word; // Better word breaking
    overflow: hidden; // Ensure content doesn't spill
  }

  // Style for even children
  & > div:nth-child(2) {
    padding-top: 1rem;
  }
}

.particular {
  flex: 2;
  position: relative;
  overflow: visible !important;
}
.remark {
  flex: 2;
}
.debit {
  justify-content: center;
}
.credit {
  justify-content: center;
}
.table-check {
  width: variables.$checkbox-w;
  height: 100%;
  background-color: transparent;
  @include mixins.flex(center);
  cursor: pointer;
}
