@use "../abstract/variables";
@use "../abstract/mixins";

.table {
  @include mixins.fillArea;
  display: grid;
  grid-template-rows: 1rem 1.2fr repeat(7, 1fr);
  border-radius: variables.$large-radius;
  overflow: hidden;

  // Style for even children
  & > div:nth-child(even) {
    background-color: rgb(204, 222, 228);
  }

  // Style for odd children
  & > div:nth-child(odd) {
    background-color: variables.$color-white; // Color for odd items
  }

  &-head {
    border-radius: variables.$large-radius;
    background-color: variables.$color-primary !important;
    margin-bottom: -1rem;
    z-index: 2;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100%;
    @include mixins.flex(center);
  }

  &-col {
    padding-right: 2rem;
    padding-left: 1rem;
    flex: 1;
    color: variables.$color-white;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.particular {
  flex: 2;
}
.remark {
  flex: 2;
}
.table-check {
  width: variables.$checkbox-w;
  height: 100%;
  background-color: transparent;
  @include mixins.flex(center);
  cursor: pointer;
}
