@use "../abstract/variables";
@use "../abstract/mixins";

$padding: 0 1.5rem;

.balance-card {
  width: 100%;
  height: 100%;
  background-color: variables.$color-table-col;
  overflow-y: scroll;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;

  &-header {
    border-bottom: 0.2px solid variables.$color-gray;
    height: 3rem;
    width: 100%;
    @include mixins.flex(between);
    padding: $padding;

    & .icons {
      color: variables.$color-gray;
      opacity: 0.8;
      cursor: pointer;
    }
    & .small-text {
      font-weight: 600;
      opacity: 0.5;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > div:nth-child(even) {
      background-color: rgba(variables.$color-table-col, 0.8);
    }

    // Style for odd children
    & > div:nth-child(odd) {
      background-color: rgba(variables.$color-white, 0.8);
    }
    & > div:nth-child(1) {
      & .balance-card-name-box {
        background-color: rgb(10, 5, 109);
      }
    }
    & > div:nth-child(2) {
      & .balance-card-name-box {
        background-color: rgb(14, 55, 179);
      }
    }
    & > div:nth-child(3) {
      & .balance-card-name-box {
        background-color: rgb(49, 128, 196);
      }
    }
    & > div:nth-child(4) {
      & .balance-card-name-box {
        background-color: rgb(92, 97, 92);
      }
    }
    & > div:nth-child(5) {
      & .balance-card-name-box {
        background-color: rgb(49, 49, 49);
      }
    }
  }

  &-item-box {
    height: 3rem;
    padding: $padding;
    @include mixins.flex(between);
    font-size: 0.8rem;
  }

  &-name-box {
    padding: 0.3rem 1rem;
    background-color: black;
    color: variables.$color-white;
    @include mixins.flex(center);
    justify-content: start;
    font-weight: 600;
    border-radius: variables.$small-radius;
    min-width: 8rem;
  }

  &-balance-total {
    background-color: variables.$color-primary;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    // margin-top: 17rem;
  }
}
