.stats-box {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  transition: 0.3s all ease;
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
}

.active {
  background-color: #fff;
  transition: 0.5s all ease;
  color: rgb(54, 50, 50);
}

.active .icons {
  color: rgb(28, 101, 126);
  transition: 0.5s all ease;
}

.active p {
  color: rgb(54, 50, 50);
  transition: 0.5s all ease;
}

.hide {
  opacity: 0;
  transform: 0.5s all ease;
  display: none;
}

.visible {
  opacity: 1;
  transform: 0.5s all ease;
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, rgb(201, 234, 251), rgba(201, 234, 251, 0.8) 40%, rgba(201, 234, 251, 0.6) 60%, rgba(201, 234, 251, 0.3) 80%, #fff);
}

.app {
  display: grid;
  grid-template-columns: 5rem 1fr;
  transition: 0.5s grid ease;
}

.layout {
  padding: 3rem;
  padding-bottom: 4rem;
  height: 100%;
  display: grid;
  grid-template-rows: 4rem 1fr;
  gap: 1.2rem;
}
.layout-body {
  display: grid;
  grid-template-rows: 2.3rem 1fr 2.3rem;
  border-radius: 1.2rem;
  gap: 1.2rem;
}
.layout-head {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-weight: 600;
}
.layout-head-left {
  display: flex;
  gap: 0.4rem;
}
.layout-head-right {
  display: flex;
  gap: 0.4rem;
}
.layout-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout-footer-left {
  display: flex;
  gap: 0.5rem;
}
.layout-footer-bottom {
  display: flex;
  gap: 0.5rem;
}

@keyframes navText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main-head {
  font-size: 1.825rem;
  font-weight: 600;
}

.nav {
  background-color: rgb(28, 101, 126);
  width: 5rem;
  height: 100vh;
  width: 100%;
  transition: 0.5s all ease;
}
.nav-ul {
  width: 100%;
  height: fit-content;
  margin-top: 7.45rem;
  transition: 0.5s all ease;
}
.nav-ul-li {
  width: 100%;
  height: 4rem;
  transition: 0.5s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-ul-li-a {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s all ease;
  font-size: 1rem;
}
.nav-ul-li-a p {
  text-wrap: nowrap;
  text-align: left;
  transform-origin: center;
  font-weight: 600;
}

.isHoverHyper {
  border-radius: 0;
  width: 100%;
  color: #fff;
  justify-content: start;
  padding-left: 2rem;
}

@keyframes navText {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
.daybook-table {
  background-color: green;
  width: 100%;
  height: 100%;
}

.dashboard {
  grid-template-columns: 2fr 1fr;
}
.dashboard-head {
  grid-column: span 2;
}
.dashboard-left {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.dashboard-right {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.dashboard-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  flex: 1;
  gap: 1.2rem;
}
.dashboard-stats > :first-child {
  grid-row: span 2;
}
.dashboard-chart {
  flex: 1;
}
.dashboard-curbalance {
  flex: 0.5;
}
.dashboard-reminder {
  flex: 1;
}

.balance-sheet-body {
  display: grid;
  grid-template-columns: 2fr 0.7fr;
  grid-template-rows: 2.3rem 1fr 5.7rem;
  gap: 1.2rem;
}
.balance-sheet-head {
  grid-column: span 2;
}
.balance-sheet .table {
  grid-template-rows: 1rem 1.2fr repeat(11, 1fr);
}
.balance-sheet-bank {
  background-color: rgb(212, 212, 212);
  border-radius: 1rem;
}
.balance-sheet-footer {
  background-color: black;
  grid-column: span 2;
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-wrap: nowrap;
}

.primary {
  background-color: rgb(28, 101, 126);
  color: #fff;
  width: 8rem;
}

.secondary {
  background-color: gray;
  color: #fff;
}

.thertiary {
  background-color: #fff;
  color: gray;
  border: 0.3px solid gray;
}

.filterbtn {
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: rgb(28, 101, 126);
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1rem 1.2fr repeat(7, 1fr);
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
}
.table > div:nth-child(even) {
  background-color: rgb(204, 222, 228);
}
.table > div:nth-child(odd) {
  background-color: #fff;
}
.table-head {
  border-radius: 1rem;
  background-color: rgb(28, 101, 126) !important;
  margin-bottom: -1rem;
  z-index: 2;
  font-size: 0.9rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 2rem;
}
.table-col {
  padding-right: 2rem;
  padding-left: 1rem;
  flex: 1;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.9rem;
}
.table-body-col {
  color: rgb(54, 50, 50);
  border: 1px solid gray;
}

.particular {
  flex: 2;
}

.remark {
  flex: 2;
}

.table-check {
  width: 2.5rem;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search {
  background-color: #fff;
  width: 17rem;
  height: 2.4rem;
  border-radius: 2rem;
  padding-left: 1rem;
  font-weight: 300;
  font-size: 0.9rem;
  cursor: pointer;
}
.search:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(28, 101, 126);
}

.table-loader {
  grid-row: span 8; /* Span 8 rows in the grid */
  background-color: rgba(28, 101, 126, 0.3) !important; /* Black background color */
  display: flex; /* Enable flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  color: white; /* Text color for visibility */
  font-size: 1.5rem; /* Font size */
  position: relative; /* For absolute positioning of spinner */
}

.spinner {
  border: 0.8rem solid rgba(255, 255, 255, 0.3); /* Light border for spinner */
  border-top: 0.8rem solid white; /* White top border for spinner effect */
  border-radius: 50%; /* Make it a circle */
  width: 10rem; /* Width of the spinner */
  height: 10rem; /* Height of the spinner */
  animation: spin 1s linear infinite; /* Animation for spinning effect */
  margin-left: 10px; /* Spacing between text and spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Initial state */
  }
  100% {
    transform: rotate(360deg); /* Final state */
  }
}

/*# sourceMappingURL=sassStyle.css.map */
